$color-primary: #FF5E4E;
$color-primary-light: #FFF2F2;
$color-primary-alt: #f79389;

$color-secondary: #69123C;
$color-grey: #BBBBBB;
$color-grey-dark: #705C5C;

 

$shadow-primary: 4px 10px 15px rgba(0, 0, 0, 0.25);

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

@font-face {
    font-family: 'Playball';
    src: url('/fonts/Playball.ttf');
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


*::-webkit-scrollbar,
*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
*::-webkit-scrollbar-track,
*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb {
    background: $color-primary;
    border-radius: 10px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover,
*::-webkit-scrollbar-thumb:hover {
    background: $color-secondary;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
} 