@font-face {
  font-family: 'Playball';
  src: url("/fonts/Playball.ttf"); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

*::-webkit-scrollbar,
*::-webkit-scrollbar {
  width: 10px;
  height: 10px; }

/* Track */
*::-webkit-scrollbar-track,
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px; }

/* Handle */
*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb {
  background: #FF5E4E;
  border-radius: 10px; }

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover,
*::-webkit-scrollbar-thumb:hover {
  background: #69123C; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.navigation {
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1.5rem 0;
  font-size: 3.2rem;
  z-index: 5; }
  .navigation-content {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.logo {
  color: #FF5E4E;
  font-family: 'Playball'; }
  @media only screen and (max-width: 37.5em) {
    .logo {
      font-size: 2.8rem; } }

.button {
  border: none;
  color: #ffffff;
  background-color: #FF5E4E;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-family: inherit;
  transition: background-color 1s; }
  @media only screen and (max-width: 37.5em) {
    .button {
      font-size: 2rem; } }
  .button:hover {
    background-color: rgba(255, 94, 78, 0.7); }

.heading-secondary {
  font-size: 1.8rem;
  color: #FF5E4E;
  font-weight: bold;
  padding-left: 1rem;
  display: inline-block;
  backface-visibility: hidden;
  animation: pulsate 3s ease-in-out infinite;
  position: relative;
  z-index: -1; }

.instructions {
  padding: 35px 25px;
  background-color: #69123C;
  display: inline-block;
  border-radius: 1rem;
  width: 35rem;
  color: #ffffff;
  font-size: 1.6rem;
  margin-bottom: 6rem;
  box-shadow: 4px 10px 15px rgba(0, 0, 0, 0.25); }
  .instructions__text {
    display: flex; }
  .instructions__text:not(:last-child) {
    margin-bottom: 2rem; }
  .instructions__img {
    display: inline-block;
    margin-right: 1.5rem; }

@keyframes pulsate {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }

.story {
  width: calc((100% - 2 * 6rem)/3);
  box-shadow: 4px 10px 15px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  margin-bottom: 6rem;
  height: fit-content; }
  @media only screen and (max-width: 56.25em) {
    .story {
      width: calc((100% - 6rem)/2); } }
  @media only screen and (max-width: 37.5em) {
    .story {
      width: 95%;
      margin: 0 auto;
      margin-bottom: 4rem; } }
  .story__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover; }
    .story__img-cont {
      height: 32.5rem;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      overflow: hidden; }
  .story__content {
    padding: 25px;
    background-color: #69123C;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem; }
    .story__content--title {
      font-size: 1.8rem;
      color: #ffffff;
      font-weight: bold;
      margin-bottom: 1.5rem;
      text-transform: capitalize; }
    .story__content--description {
      font-size: 1.6rem;
      color: #BBBBBB;
      word-spacing: 8px;
      margin-bottom: 3.5rem; }
    .story__content--read {
      word-spacing: 1px;
      color: #4b4bf5; }
    .story__content--read:hover {
      text-decoration: underline;
      cursor: pointer; }
  .story__avatar {
    display: flex;
    align-items: flex-end; }
    .story__avatar--img {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      display: inline-block; }
    .story__avatar--initials {
      color: #FF5E4E;
      font-size: 1.4rem;
      margin-left: 8px; }
  .story__personName {
    font-size: 1.6rem;
    color: #BBBBBB;
    margin-bottom: 2rem; }
    .story__personName-sub {
      color: #FF5E4E; }
  .story__button {
    padding: 15px 30px;
    border-radius: 1rem;
    border: none;
    color: #ffffff;
    background-color: #FF5E4E;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 4px 10px 15px rgba(0, 0, 0, 0.25);
    transition: background-color 1s; }
    .story__button:hover {
      background-color: rgba(255, 94, 78, 0.2); }
    .story__button--cont {
      display: flex;
      align-items: flex-end; }
    .story__button--votes {
      font-size: 1.4rem;
      margin-left: 8px;
      color: #BBBBBB; }

.footer {
  padding: 20px;
  border-top: 1px solid #69123C;
  text-align: center;
  font-size: 2.0rem;
  color: #69123C; }

.alert-enter {
  opacity: 0; }

.alert-enter-active {
  opacity: 1;
  transition: opacity 300ms; }

.alert-exit {
  opacity: 1; }

.alert-exit-active {
  opacity: 0;
  transition: opacity 300ms; }

.Modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10; }
  .Modal-backdrop {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10; }
  .Modal-content {
    width: 50rem;
    max-height: 80vh;
    background-color: #FFF2F2;
    position: relative;
    margin: 0 auto;
    z-index: 100;
    margin-top: 5rem;
    border-radius: 10px;
    padding: 1.5rem 0;
    overflow: auto; }
    @media only screen and (max-width: 37.5em) {
      .Modal-content {
        width: 95%;
        margin: 0 auto;
        margin-top: 7rem; } }

.form {
  width: 90%;
  margin: 0 auto; }
  .form__error {
    padding: 1rem;
    font-size: 1.4rem;
    margin-top: -2rem;
    display: block;
    background-color: #FF5E4E;
    color: white;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-bottom: 2rem; }
  .form__title {
    font-size: 2.8rem;
    color: #FF5E4E;
    text-align: center;
    margin-bottom: 4rem; }
    .form__title h3 {
      display: inline-block;
      position: relative; }
      .form__title h3 span {
        display: inline-block;
        position: absolute;
        width: 70%;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        border: 0.5px solid #FF5E4E; }
  .form__button, .form__button:link, .form__button:visited {
    font-size: 2.4rem;
    padding: 1.2rem 2.5rem;
    display: block;
    margin: 0 auto;
    border-radius: 1rem;
    margin-top: 2rem;
    border: none;
    background-color: #69123C;
    color: #fff;
    font-weight: normal;
    letter-spacing: 2px;
    cursor: pointer;
    transition: background-color 2s; }
    .form__button:hover, .form__button:link:hover, .form__button:visited:hover {
      background-color: rgba(105, 18, 60, 0.7); }
  .form__button--error {
    text-align: center;
    margin-bottom: -1.5rem;
    padding: .5rem;
    background-color: #FF5E4E;
    font-size: 1.4rem;
    color: #fff;
    border-radius: 1rem; }
  .form__upload {
    text-align: left; }
  .form__upload::-webkit-file-upload-button {
    visibility: hidden; }
  .form__upload::before {
    content: 'Select File';
    display: inline-block;
    background: #FF5E4E;
    color: #fff;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    margin-top: 2rem; }
  .form__label {
    display: block;
    color: #705C5C;
    font-size: 18px; }
  .form__input {
    width: 100%;
    border: 1px solid transparent;
    padding: 1.4rem 2rem;
    font-family: inherit;
    letter-spacing: 1px;
    margin-bottom: 2rem; }
  .form__textarea {
    border: none;
    width: 100%;
    height: 15rem;
    letter-spacing: 1px;
    font-family: inherit;
    padding: 1.4rem 2rem;
    margin-bottom: 2rem; }

.required {
  color: #FF5E4E; }

#modal-story {
  width: 100%;
  margin-bottom: -2rem;
  margin-top: -2rem; }

.invalid {
  border: 1px solid #FF5E4E; }

.slider {
  position: relative;
  height: calc(100vh - 90px);
  margin-bottom: 2rem; }
  .slider__slides {
    z-index: 1;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden; }
  .slider__control {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 5%;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    margin-top: -30px;
    border-radius: 50%;
    background: #fff;
    transition: background-color 0.3s;
    cursor: pointer; }
    .slider__control--right {
      left: 95%; }
    .slider__control:hover {
      background-color: #FF5E4E; }
    .slider__control-line {
      position: absolute;
      left: 23px;
      top: 50%;
      width: 3px;
      height: 14px;
      transform-origin: 50% 0;
      transform: rotate(-45deg); }
      .slider__control-line:nth-child(2) {
        transform: translateY(1px) rotate(-135deg); }
      .slider__control--right .slider__control-line {
        left: 37px;
        transform-origin: 1px 0;
        transform: rotate(45deg); }
        .slider__control--right .slider__control-line:nth-child(2) {
          transform: translateY(1px) rotate(135deg); }
      .slider__control-line:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #e2e2e2;
        transition: background-color 0.3s; }
      .slider__control:hover .slider__control-line:after {
        background-color: #fff; }
      .slider__control.a--rotation .slider__control-line:after {
        animation: arrowLineRotation 0.49s; }
      .slider__control.a--rotation .slider__control-line:nth-child(1):after {
        animation: arrowLineRotationRev 0.49s; }

@keyframes arrowLineRotation {
  to {
    transform: rotate(180deg); } }

@keyframes arrowLineRotationRev {
  to {
    transform: rotate(-180deg); } }

.slide {
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 150vmax;
  height: 150vmax;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: clip-path 0s 0.91s;
  clip-path: circle(30px at 120vw 50%); }
  .slide.s--prev {
    clip-path: circle(30px at 30vw 50%); }
  .slide.s--active {
    z-index: 1;
    transition: clip-path 1.3s;
    clip-path: circle(120vmax at 120vw 50%); }
    .slide.s--active.s--active-prev {
      clip-path: circle(120vmax at 30vw 50%); }
  .slide:nth-child(1) .slide__inner {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-2.jpg"); }
  .slide:nth-child(2) .slide__inner {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-3.jpg"); }
  .slide:nth-child(3) .slide__inner {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-4.jpg"); }
  .slide:nth-child(4) .slide__inner {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-5.jpg"); }
  .slide:nth-child(5) .slide__inner {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-6.jpg"); }
  .slide__inner {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100vw;
    height: calc(100vh - 90px);
    margin-left: -50vw;
    margin-top: -50vh;
    background-size: cover;
    background-position: center center; }
    .slide__inner:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3); }
  .slide__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 480px;
    color: #fff; }
  .slide__heading {
    margin-bottom: 2rem;
    font-size: 6rem; }
    @media only screen and (max-width: 37.5em) {
      .slide__heading {
        font-size: 5rem; } }
  .slide__text {
    font-size: 2.5rem; }
    .slide__text a {
      color: inherit; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  @media only screen and (max-width: 68.75em) {
    .row {
      padding: 0 2rem; } }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem)/3); }

.stories {
  max-width: 114rem;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 5rem;
  flex-wrap: wrap; }
  @media only screen and (max-width: 68.75em) {
    .stories {
      padding: 0 2rem; } }
